link(id="hl-github", rel="stylesheet", href=utils.resolveRes("statics/css/highlight.js/github.css"))
link(rel="stylesheet", href=utils.resolveRes("statics/css/markdown.css"))
link(rel="stylesheet", href=utils.resolveRes("statics/css/katex/katex.min@0.5.1.css"))