link(rel="stylesheet", href=utils.resolveRes("/statics/css/purecss/purecss-min@2.1.0.css"))
link(rel="stylesheet", href=utils.resolveRes("/statics/css/purecss/purecss@2.1.0-base-min.css"))
link(rel="stylesheet", href=utils.resolveRes("/statics/css/purecss/purecss@2.1.0-grids-responsive-min.css"))